/*-- scss:defaults --*/

// fonts
$presentation-font-size-root: 27px !default;

// colors
$body-color: #000 !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-color: #333 !default;

/*-- scss:rules --*/
