name: CI

# On every pull request, but only on push to main
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: run pre-commit
        run: |
          python -m pip install pre-commit
          pre-commit run --all-files
