name: Deploy PR previews

on:
  pull_request:
    types:
      - opened

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install Python and Dependencies
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'

      - run: pip install jupyter
      - run: pip install -r requirements.txt
      - run: quarto render --to html

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
